.App {
  max-width: 400px;
  margin: 50px auto;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  border: 1px solid #757575;
  border-radius: 10px;
  background-image: linear-gradient(to top, #ffe2e2 20%, #f6f6f6 80%);
}

.App footer {
  font-size: 11px;
  margin: 10px;
}
