.Weather {
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  background: linear-gradient(to bottom, #023c19 0%, #023c19 40%, #023c19 0%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 100%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  border-radius: 25px;
  border: none;
  color: #ffffff;
}

.Weather ul {
  list-style: none;
}
.WeatherInfo h1 {
  display: block;
  text-align: center;
}

.Weather .location {
  margin-top: 20px;
}

.Weather h1 {
  font-weight: 400;
  padding-top: 20px;
  font-size: 16px;
}

.Weather h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

input.form-control {
  text-align: center;
}

input.btn.btn-primary.w-100 {
  margin-left: -150px;
}

.weatherIndicators ul {
  display: block;
  margin: 0 auto;
  font-size: 22px;
  padding: 0;
}

.Weather .tempLocal {
  font-size: 52px;
  font-weight: 700;
}

.Weather .units {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: -25px;
  left: -2px;
}

.Weather .units a {
  color: grey;
  text-decoration: none;
}

.WeatherTemperature {
  text-align: center;
}

.Weather img {
  display: block;
  margin: 0 auto;
}

.weatherIndicators {
  text-align: center;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Weather button {
  margin-left: 5px;
  margin-right: 5px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.25rem;
  width: 35px;
  position: relative;
  top: 4px;
}

.Weather button .fas {
  color: #6d757d;
  font-size: 26px;
  position: relative;
  top: -1px;
}
